/* Global styles */
* {
  margin: 0;
  padding: 0;
  border: 0;
  max-width: 100%;
  max-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

a.nav-link,
.header,
.see-more {
  text-transform: uppercase;
}

nav {
  background-color: #212529;
}

nav a {
  color: white;
  margin: 0 0.75em 0 0.75em;
}

footer {
  width: 100%;
  margin: 0;
  bottom: 0;
  min-height: 25vh;
  background-image: url(images/wave-footer.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #323759;
}

footer p {
  color: white;
  padding-top: 10rem;
  margin-bottom: 0;
}

/* Navigation bar */

.nav-item a:hover {
  color: white;
  border-bottom: 2px solid white;
}

.navbar-brand {
  color: #fff;
  font-size: 24pt;
}

.navbar-brand:hover {
  text-decoration: none;
  color: white;
}

.navbar-toggler .navbar-toggler-icon {
  border: none;
}

.row {
  margin: 0;
}

/* --------------------------- */

/* Landing section */

.landing {
  padding: 0;
  background-color: #464d55;
  background-image: url(./images/bkg.svg);
  background-attachment: fixed;
}

.landing_heading,
.landing_text {
  color: white;
}

.landing_heading {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  font-size: 7rem;
  font-family: "Oswald", sans-serif;
}

.landing_text {
  padding-top: 0.75rem;
  animation: fadeInAnimation ease 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fa-angle-double-down {
  color: white;
}

.arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 60px; /*change with size of arrow to make sit on bottom */
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ----- About Section ----- */
.about {
  padding: 4rem;
}

.about {
  background-color: #323759;
}

.about-pic {
  width: 80%;
}

.about-heading {
  color: #efa16b;
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
}

.about-text {
  color: white;
  line-height: 1.7em;
  font-size: 1rem;
}

/* --------------------------- */

/* ----- Section Headers ----- */
.header {
  width: 100%;
  border-bottom: 3px solid #000;
  line-height: 0.05em;
  margin: 10px 0 20px;
}

.header span {
  background: #fff;
  padding: 0 10px;
}

.header-container {
  padding: 3rem 2rem 3rem 2rem;
}

/* --------------------------- */

/* ----- Projects Section ----- */

.project-block {
  padding-bottom: 4rem;
}

.see-more {
  padding-top: 1rem;
  color: #000;
  border-bottom: 2px solid #000;
  font-weight: bold;
  font-size: 14pt;
}

.see-more:hover {
  text-decoration: none;
  color: black;
  padding-bottom: 0.25rem;
  transition: 0.25s ease;
}

/* --------------------------- */

/* ----- Experience Section ----- */

.resume-experience {
  background-color: #e4f3f4;
  padding: 1.75rem;
}

.employment-exp {
  padding: 2em 6em 1em 6em;
  border-bottom: 1px #7e969d solid;
}

.employment-exp:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

.employment-exp:first-of-type {
  padding-top: 0;
}

.job-title-date li {
  list-style-type: none;
  padding: 0.125em;
}

.title {
  font-size: 1.75rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}

.dates {
  font-size: 10pt;
  font-style: italic;
}
/* --------------------------- */

/* ----- Education Section ----- */
.education {
  padding: 4.5rem;
}
/* --------------------------- */

/* ----- Contact section ------ */
.contact {
  background-color: #323759;
  color: white;
  padding: 6rem 3rem 0 3rem;
}

.contact-heading p {
  margin: 0 auto;
  font-size: 16pt;
  width: 50%;
}

.contact-heading p:first-child {
  font-size: 40pt;
  color: #efa16b;
  font-family: "Oswald", sans-serif;
}

.contact-information {
  list-style-type: none;
}

.contact-information li {
  display: inline-block;
  font-size: 20pt;
  text-transform: uppercase;
  padding: 1.5em;
}

.contact-information a {
  color: white;
  text-decoration: none;
}

.social-links li {
  font-size: 14pt;
  text-transform: uppercase;
  display: inline-block;
  border-right: 1px white solid;
  padding: 0 1em 0 1em;
}

.social-links li:last-of-type {
  border-right: none;
}

.social-links a {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid white;
  color: white;
}

.social-links a:hover {
  text-decoration: none;
}

.back-to-top a {
  color: white;
}

.back-to-top a:hover {
  text-decoration: none;
}

/* --------------------------- */

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* ------ RESPONSIVE STYLES ------- */

@media screen and (min-width: 1400px) {
  .about-pic {
    width: 50%;
  }
}

@media only screen and (max-width: 995px) {
  .about-pic {
    width: 50%;
    padding-bottom: 1rem;
  }

  .project-right {
    order: -1;
  }

  .project-desc {
    padding-bottom: 3rem;
  }

  .project-desc p {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 1.5rem;
  }

  .project-desc h2 {
    font-size: 22pt;
    padding-top: 3rem;
    font-family: "Oswald", sans-serif;
  }

  .job-description ul li {
    padding-bottom: 0.5rem;
  }

  .education {
    padding: 2rem;
  }

  .contact-information li {
    padding: 0.5rem;
  }

  .contact-heading p {
    margin: 0 auto;
    font-size: 16pt;
    width: 100%;
    padding-bottom: 2rem;
  }
}

@media only screen and (max-width: 815px) {
  .landing_heading {
    font-size: 5rem;
  }

  .employment-exp {
    padding: 1rem;
  }

  .contact {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 555px) {
  .landing_heading {
    font-size: 4rem;
  }

  .landing_text {
    font-size: 1rem;
    padding: 1rem 3.75rem 0 3.75rem;
  }

  .about {
    padding: 1rem;
  }

  .about-heading {
    font-size: 19pt;
  }

  .contact {
    padding: 2rem 0.5rem 0.5rem 0.5rem;
  }

  .social-links a {
    font-size: 12pt;
  }

  .social-links li {
    padding: 0 0.76rem 0 0.7rem;
  }
}

@media only screen and (max-width: 400px) {
  .navbar-brand {
    font-size: 18pt;
  }

  .education {
    padding: 0 1rem 1rem 1rem;
  }

  .contact-heading p:first-of-type {
    font-size: 30pt;
  }

  .contact-heading p:last-of-type {
    font-size: 18pt;
  }
}
